* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary);
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
}

.main-content {
    margin-left: var(--sidebar-width);
    padding-top: var(--navbar-height);
    width: calc(100% - var(--sidebar-width));
    min-height: 100vh;
    transition: var(--transition);
}

.page-content {
    width: 100%;
    max-width: none;
    padding: 30px 40px;
}

